---
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";

import banner from '../../assets/images/landingbackground.jpg';
---

<Layout title="Fun Motivation - BrainEvo Academy">

    <div class="w-full justify-center z-0 flex absolute">
        <img src={banner.src} oncontextmenu="return false;" class="w-full object-cover object-[center_60%] inset-0
         max-[720px]:h-[20vh] max-[1024px]:h-[22vh] h-[24vh] min-2xl:h-[28vh]
         mask-radial-farthest-corner mask-b-from-70% mask-radial-at-[50%_0%] mask-radial-from-30% mask-radial-to-80%" alt="Client Logo" />
    </div>

    <section id="landing">
        <div class="w-full flex flex-col items-center justify-center mb-32 max-[720px]:mb-4 pt-48 max-[720px]:pt-32">
            <div class="max-w-4xl w-[calc(100%-2rem)]">
                <h1 class="max-[375px]:text-4xl max-[1024px]:text-5xl text-6xl
                font-[600] mb-4">
                    Fun Motivation
                </h1>
                <p class="indent-8 text-justify max-w-2xl pl-8 mt-8 max-[720px]:p-0">
                    Di BrainEvo, kami percaya bahwa setiap anak bisa tumbuh luar biasa ketika mereka merasa senang dan termotivasi. Nah, itulah yang kami sebut sebagai fun motivation—sebuah pendekatan unik yang menggabungkan kegiatan menyenangkan dengan dorongan positif dari dalam diri anak. Melalui permainan interaktif, tantangan kreatif, dan aktivitas seru, anak-anak kami ajak untuk belajar tanpa merasa dipaksa. Mereka tertawa, bergerak, berekspresi… sambil secara tidak langsung mengasah rasa percaya diri, keberanian, dan semangat belajar mereka.
                </p>
                <p class="indent-8 text-justify max-w-2xl pl-8 mt-8 max-[720px]:p-0">
                    Berbeda dengan metode konvensional yang sering fokus pada hasil, pendekatan fun motivation menempatkan pengalaman dan proses sebagai inti pembelajaran. Anak-anak tidak takut salah, justru diajak untuk eksplorasi dan menemukan kekuatan mereka sendiri. Hasilnya? Anak jadi lebih antusias, aktif, dan punya pola pikir positif sejak dini. Di sinilah kami melihat perubahan nyata—anak yang tadinya pemalu jadi lebih percaya diri, yang tadinya pasif jadi lebih berani bersuara. Karena ketika anak merasa senang, belajar bukan lagi beban, tapi petualangan yang menyenangkan.
                </p>
            </div>
            <div class="max-w-4xl w-full pr-8 max-[720px]:p-0">
                <div class="bg-sky-300 rounded-xl w-[calc(100%-2rem)] max-w-[480px] aspect-[3/2] ml-auto max-[720px]:mr-auto mt-8
                max-[480px]:m-0 max-[480px]:mt-8 max-[480px]:w-full max-[480px]:rounded-none"></div>
            </div>
            <div class="max-w-4xl w-[calc(100%-2rem)] mt-32 max-[720px]:mt-12">
                <h2 class="font-[600] mb-4">
                    Gallery
                </h2>
                <div class="grid grid-cols-3 max-[480px]:grid-cols-2 gap-4">
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                    <div class="bg-sky-300 aspect-square"></div>
                </div>
            </div>
        </div>
    </section>
    <Footer/>
</Layout>