<html>
    <head>
        <meta http-equiv="refresh" content="0; url=/" />
    </head>
    <body class="h-full w-full flex justify-center items-center">
        <p>Redirecting to home...</p>
    </body>
</html>