---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="">
        <!-- Featured -->
        <section>
            <div class="py-48 flex justify-center">
                <div class="space-x-12 flex justify-center items-center">
                    <div class="w-[40vw] aspect-[3/2] bg-blue-300 rounded-4xl"></div>
                    <div class="w-[480px]">
                        <h1 class="text-[3rem] leading-[1.2] font-[500] mb-4 font-sans tracking-tight">
                            Lorem ipsum dolor sit elit. Porro earum, nihil dolor, perferendis? 
                        </h1>
                        <p class="text-base font-medium tracking-wide text-justify text-zinc-700/75 font-read indent-8">
                            Di BrainEvo Academy, kami percaya bahwa setiap manusia memiliki keunikan yang patut ditemukan dan dikembangkan. Dengan pendekatan yang penuh kasih, kami hadir bukan hanya sebagai penyedia pelatihan.
                        </p>
                        <div class="text-blue-500 text-xl my-4 hover:underline cursor-pointer">Lanjut Baca -></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Articles -->
         <section class="w-full flex justify-center">
            <div class="grid grid-cols-3 w-[1024px] gap-4">
                <!-- List -->
                <div class="col-span-2 grid grid-cols-2 gap-4">
                    <div>
                        <div class="bg-blue-300 aspect-[3/2] rounded-2xl mb-4"></div>
                        <div>
                            <div>Lorem ipsum dolor sit elit. Porro earum, nihil dolor, perferendis? </div>
                            <div>Di BrainEvo Academy, kami percaya bahwa setiap manusia memiliki keunikan yang ...</div>
                            <div>Lanjut baca -></div>
                        </div>
                    </div>
                    <div>
                        <div class="bg-blue-300 aspect-[3/2] rounded-2xl mb-4"></div>
                        <div>
                            <div>Lorem ipsum dolor sit elit. Porro earum, nihil dolor, perferendis? </div>
                            <div>Di BrainEvo Academy, kami percaya bahwa setiap manusia memiliki keunikan yang ...</div>
                            <div>Lanjut baca -></div>
                        </div>
                    </div>
                </div>
    
                <!-- aside -->
                <aside>
                    <div class="bg-red-300 h-screen rounded-2xl flex justify-center items-center">test aside</div>
                </aside>
            </div>
        </section>
    </div>
</Layout>