---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Disclaimer - BrainEvo Academy">
    <section id="landing">
        <div class="w-full flex justify-center pt-16 min-[720px]:pt-32 mb-32">
            <article class="w-[calc(100%-4rem)] max-w-3xl">
                <h1 class="hidden">Disclaimer</h1>
                <h2>Penafian BrainEvo</h2>

                <p>Informasi yang tersedia di situs ini disediakan hanya untuk tujuan informasi umum. Kami berupaya menjaga agar informasi tetap akurat dan terkini, namun kami tidak memberikan jaminan apa pun—baik secara tersurat maupun tersirat—terkait kelengkapan, keakuratan, keandalan, kesesuaian, atau ketersediaan informasi, layanan, produk, atau gambar terkait yang disajikan di situs ini.</p>
                
                <p>Segala keputusan atau tindakan yang Anda ambil berdasarkan informasi dari situs ini sepenuhnya menjadi tanggung jawab Anda sendiri. BrainEvo tidak bertanggung jawab atas kerugian atau kerusakan apa pun—termasuk kerugian tidak langsung atau konsekuensial—yang timbul dari penggunaan situs ini.</p>

                <p>Situs ini mungkin memuat tautan ke situs lain di luar kendali kami. Kami tidak bertanggung jawab atas isi atau ketersediaan situs-situs tersebut. Penyertaan tautan tidak berarti kami merekomendasikan atau menyetujui konten yang ada di dalamnya.</p>

                <p>Kami berusaha menjaga agar situs berjalan dengan lancar. Namun, BrainEvo tidak bertanggung jawab atas gangguan sementara yang disebabkan oleh masalah teknis di luar kendali kami.</p>
            </article>
        </div>
    </section>
    <Footer />
</Layout>