---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Term of Services- BrainEvo Academy">
    <section id="landing">
        <div class="w-full flex justify-center pt-16 min-[720px]:pt-32 mb-32">
            <article class="w-[calc(100%-4rem)] max-w-3xl">
                <h1 class="hidden">Terms of Service</h1>
                <h2>Syarat dan Ketentuan</h2>

                <p>Dengan mengakses dan menggunakan layanan dari BrainEvo, Anda setuju untuk terikat oleh syarat dan ketentuan berikut.</p>

                <h4>1. Layanan yang Disediakan</h4>
                <p>BrainEvo menyediakan program pengembangan karakter dan kreativitas anak melalui pendekatan menyenangkan dan interaktif. Layanan dapat mencakup program tatap muka maupun online.</p>

                <h4>2. Pendaftaran dan Pembayaran</h4>
                <ul>
                    <li>Semua informasi yang diberikan saat pendaftaran harus akurat.</li>
                    <li>Pembayaran harus dilakukan sebelum program dimulai, kecuali disepakati lain secara tertulis.</li>
                </ul>

                <h4>3. Perlindungan Data Anak</h4>
                <ul>
                    <li>Pembatalan maksimal dilakukan 1 minggu sebelum program dimulai untuk mendapatkan pengembalian dana penuh.</li>
                    <li>Tidak ada pengembalian dana untuk pembatalan mendadak atau ketidakhadiran tanpa pemberitahuan.</li>
                </ul>

                <h4>4. Hak Cipta dan Konten</h4>
                <ul>
                    <li>Semua materi (modul, video, worksheet) adalah milik BrainEvo</li>
                    <li>Tidak diperbolehkan merekam, menyebarluaskan, atau memodifikasi konten tanpa izin tertulis.</li>
                </ul>

                <h4>5. Batas Tanggung Jawab</h4>
                <p>BrainEvo tidak bertanggung jawab atas hasil program yang bervariasi, karena setiap anak unik. Kami berupaya memberikan pengalaman terbaik, namun hasil akhir tergantung pada partisipasi anak dan dukungan lingkungan.</p>

                <p>Silakan hubungi kami di <a href="mailto:info@brainevoacademy.com" class="hover:underline text-sky-500">info@brainevoacademy.com</a> jika Anda ingin mengajukan permintaan terkait data pribadi Anda.</p
            </article>
        </div>
    </section>
    <Footer />
</Layout>