<section>
    <div class="select-none bg-zinc-800/80 text-stone-200">
        <div class="flex flex-col justify-center items-center py-[6rem]">
            <h2 class="text-[48px] leading-[1.2] font-[600] mb-4 font-sans tracking-tight">Tertarik bergabung bersama BrainEvo?</h2>
            <div class="text-[16px] leading-[1.4] font-[500] text-stone-300/75 font-read tracking-wider">Hubuni kami atau daftarkan diri anda hari ini.</div>
            <button class="p-[8px] rounded-xl bg-stone-200 text-zinc-800 hover:bg-stone-200/75 cursor-pointer mt-8">
                <div class="flex items-center space-x-[8px] font-sans">
                    <span class="leading-[1] p-[8px]">Hubungi Kami</span>
                    <div class="flex items-center justify-center w-8 h-8 rounded-lg bg-stone-900 text-stone-100">
                        ->
                    </div>
                </div>
            </button>
        </div>
    </div>
</section>