---

---
<footer class="select-none bg-zinc-900 text-stone-200">
    <div class="flex justify-between px-[16rem] py-[8rem]">
        <!-- Left -->
        <div>
            <h3 class="text-[24px] leading-[1] font-[700] mb-2 font-sans">BrainEvo Academy</h3>
            <div class="mt-8 space-y-2">
                <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Follow Us</h4>
                <div>
                    <div>Website</div>
                    <div>LinkedIn</div>
                    <div>Instagram</div>
                </div>
                <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">©2025 BrainEvo Academy</h4>
            </div>
        </div>

        <!-- Right -->
        <div class="grid grid-cols-2 gap-12">
            <div class="space-y-6">
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Jump To</h4>
                    <div>
                        <div>Home</div>
                        <div>About</div>
                        <div>Article</div>
                        <div>Contact</div>
                    </div>
                </div>
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Lainnya</h4>
                    <div>
                        <div>brainevo.com</div>
                        <div>blogginer.my.id</div>
                        <div>agerrstudio.com</div>
                        <div>zielalfino.com</div>
                    </div>
                </div>
            </div>
            <div class="space-y-6">
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Layanan</h4>
                    <div>
                        <div>Fun Motivation</div>
                        <div>MidBrain Activation</div>
                        <div>Capacity Building</div>
                        <div>Fingerprint Test</div>
                        <div>Parenting</div>
                    </div>
                </div>
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Legal & Supports</h4>
                    <div>
                        <div>Privacy & Policy</div>
                        <div>Term of Service</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>