---

---
<footer class="select-none bg-zinc-900 text-stone-200 select-none">
    <div class="flex justify-between px-[12rem] py-[8rem]
    max-[1024px]:px-[4rem] min-w-[280px]
    max-[720px]:flex-col max-[720px]:px-[2rem] max-[720px]:space-y-12 max-[720px]:py-[4rem]">
        <!-- Left -->
        <div>
            <h3 class="text-[24px] leading-[1] font-[700] mb-2 font-sans">BrainEvo Academy</h3>
            <div class="mt-8 space-y-2">
                <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Follow Us</h4>
                <div>
                    <div><a href="https://brainevo.com/" target="_blank" class="hover:underline hover:text-red-400">Website</a></div>
                    <div><a href="https://www.instagram.com/sidikjariku" target="_blank" class="hover:underline hover:text-red-400">Instagram</a></div>
                    <div><a href="" class="hover:underline hover:text-red-400">LinkedIn</a></div>
                </div>
                <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">©2025 BrainEvo Academy</h4>
            </div>
        </div>

        <!-- Right -->
        <div class="grid grid-cols-2 gap-12 max-[480px]:grid-cols-1 max-[480px]:gap-6 text-right">
            <div class="space-y-6">
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Jump To</h4>
                    <div>
                        <div><a href="/" class="hover:underline hover:text-red-400">Home</a></div>
                        <div><a href="/about" class="hover:underline hover:text-red-400">About</a></div>
                        <div><a href="/article" class="hover:underline hover:text-red-400">Article</a></div>
                        <div><a href="/contact" class="hover:underline hover:text-red-400">Contact</a></div>
                    </div>
                </div>
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Lainnya</h4>
                    <div>
                        <div><a href="https://brainevo.com/" target="_blank" class="hover:underline hover:text-red-400">brainevo.com</a></div>
                        <div><a href="" class="hover:underline hover:text-red-400">blogginer.my.id</a></div>
                        <div><a href="https://agerrstudio.com/" target="_blank" class="hover:underline hover:text-red-400">agerrstudio.com</a></div>
                        <div><a href="https://ziel.agerrstudio.com/" target="_blank" class="hover:underline hover:text-red-400">zielalfino.com</a></div>
                    </div>
                </div>
            </div>
            <div class="space-y-6">
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Layanan</h4>
                    <div>
                        <div><a href="/service/funmotivation" class="hover:underline hover:text-red-400">Fun Motivation</a></div>
                        <div><a href="/service/midbrainactivation" class="hover:underline hover:text-red-400">MidBrain Activation</a></div>
                        <div><a href="/service/capacitybuilding" class="hover:underline hover:text-red-400">Capacity Building</a></div>
                        <div><a href="/service/happyparenting" class="hover:underline hover:text-red-400">Happy Parenting</a></div>
                        <div><a href="/service/fingerprinttest" class="hover:underline hover:text-red-400">Fingerprint Test</a></div>
                    </div>
                </div>
                <div class="space-y-1">
                    <h4 class="text-[16px] leading-[1.4] font-[500] text-stone-200/50 tracking-wider">Legal & Supports</h4>
                    <div>
                        <div><a href="/privacypolicy" class="hover:underline hover:text-red-400">Privacy & Policy</a></div>
                        <div><a href="/termsofservice" class="hover:underline hover:text-red-400">Term of Service</a></div>
                        <div><a href="/disclaimer" class="hover:underline hover:text-red-400">Disclaimer</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>