<nav class="translate-x-[calc(50vw-50%)] w-fit translate-y-[1rem] fixed select-none">

    <!-- navBox -->
    <div class="p-3 bg-zinc-50/30 shadow-md backdrop-blur-sm rounded-xl w-[720px]">
        <div class="flex items-center justify-between w-full">
            <div class="ml-[12px]">
                <a href="/">B Academy</a>
            </div>
            <div class="flex items-center justify-center space-x-6">
                <div class="px-2.5 py-1 bg-zinc-300/75 rounded-md cursor-not-allowed">Home</div>
                <a href="/about" class="px-2.5 py-1 rounded-md hover:bg-zinc-300/75" >About</a>
                <a href="" class="px-2.5 py-1 rounded-md hover:bg-zinc-300/75" >Article</a>
                <a href="" class="">
                    <div class="px-3 py-1.5 bg-zinc-900 rounded-md hover:bg-zinc-900/75 text-stone-50">Contact</div>
                </a>
            </div>
        </div>
    </div>
</nav>