---
import { contentfulClient } from "../lib/contentful";

interface Props {
    currentPage: number;
}
const { currentPage } = Astro.props;
const PER_PAGE = 6;

const entries = await contentfulClient.getEntries({
    content_type: "blogPostBrainEvoAcademy",
});
const totalPosts = entries.total;
const totalPages = Math.ceil(totalPosts / PER_PAGE);
---

<div class="flex flex-wrap justify-center col-span-2 gap-2 h-[50px]">
    {Array.from({ length: totalPages }, (_, i) => {
        const pageNumber = i + 1;
        const isCurrent = pageNumber === currentPage;
    
        return isCurrent ? (
        <div
        class="px-4 py-3 font-semibold text-white border rounded-lg cursor-default select-none bg-sky-600"
        aria-current="page"
        >
            {pageNumber}
        </div>
        ) : (
        <a
        href={pageNumber === 1 ? "/article" : `/article/page/${pageNumber}`}
        class="px-4 py-3 transition-colors border rounded-lg select-none text-sky-600 border-sky-600 hover:bg-sky-100"
        >
            {pageNumber}
        </a>
        );
    })}
</div>