<section class="fixed flex items-center justify-center hidden w-screen z-[100] h-[100dvh] bg-zinc-900/50" data-index="popUp">
    <div class="relative flex items-center justify-center bg-stone-100 rounded-4xl overflow-hidden
    min-[720px]:w-[75vw] min-[720px]:min-w-[calc(720px-2rem)] min-[720px]:aspect-[5/3] min-[720px]:max-w-[1024px] 
    max-[720px]:w-[70vw] max-[720px]:min-w-[320px] max-[720px]:aspect-[3/4]">
        <!-- Button -->
        <button class="absolute cursor-pointer top-8 right-8"
        onclick=`document.querySelector('[data-index="popUp"]').classList.add('hidden'); sessionStorage.setItem('popUpHidden', 'true');`>
            <iconify-icon icon="gridicons:cross" class="text-2xl" />
        </button>

        <!-- Images 5/3 -->
        <img src="https://placehold.co/500x300?font=roboto" alt="PopUp" class="w-full max-[720px]:hidden" />
        <img src="https://placehold.co/300x400?font=roboto" alt="PopUp" class="w-full min-[720px]:hidden" />
    </div>
</section>   
<script>
  const isHide = sessionStorage.getItem('popUpHidden') === 'true';
  if (!isHide) {
    const el = document.querySelector('[data-index="popUp"]');
    if (el) el.classList.remove('hidden');
  }
</script>