<section>
    <div class="flex flex-col justify-center items-center text-center my-[8rem]">
        <div class="">
            <iconify-icon icon="bxs:quote-left" class="text-red-500 text-[1.5rem]" />
            <!-- <iconify-icon icon="ph:student" width="24" height="24"></iconify-icon>	 -->
        </div>
        <div class="w-[480px] text-[16px] leading-[1.4] font-read tracking-wide my-[2rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error earum, nihil reiciendis dolor, quas quae corrupti magnam excepturi suscipit quaerat magni temporibus hic perferendis?</div>
        <div class="text-[18px] text-red-500" >Suyoto S.E.</div>
        <div class="text-[16px]" >Founder BrainEvo</div>
    </div>
</section>
<section>
    <div class="text-center my-[8rem]">
        <h2 class="text-[32px] leading-[1.2] font-[600] mb-6 font-sans tracking-tight">Dipercaya Ratusan Klien</h2>
        <div class="w-full overflow-scroll no-scrollbar">
            <div class="flex justify-center-safe space-x-4 w-max">
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
            </div>
        </div>
    </div>
</section>