<section>
    <div class="flex flex-col justify-center items-center text-center my-[8rem]">
        <div class="">
            <iconify-icon icon="bxs:quote-left" class="text-red-500 text-[1.5rem]" />
            <!-- <iconify-icon icon="ph:student" width="24" height="24"></iconify-icon>	 -->
        </div>
        <div class="w-[480px] text-[16px] leading-[1.4] font-read tracking-wide my-[2rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error earum, nihil reiciendis dolor, quas quae corrupti magnam excepturi suscipit quaerat magni temporibus hic perferendis?</div>
        <div class="text-[18px] text-red-500" >Suyoto S.E.</div>
        <div class="text-[16px] text-zinc-900/70" >Founder BrainEvo</div>
    </div>
</section>