<section>
    <div class="text-center my-[4rem]">
        <h2 class="text-[32px] leading-[1.2] font-[600] mb-6 font-sans tracking-tight">Dipercaya Ratusan Klien</h2>
        <div class="w-full overflow-scroll no-scrollbar">
            <div class="flex space-x-4 justify-center-safe w-max">
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
                <div class="w-[200px] h-[100px] bg-blue-300 rounded-lg"></div>
            </div>
        </div>
    </div>
</section>