---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";

const { title = "BrainEvo Academy" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" />
	</head>
	<body class="selection:bg-orange-200 selection:text-white">
		<NavBar />
		<slot />
	</body>
</html>

<style>
	
</style>
